/* Estilos del cuerpo */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Para mi navegador */
.navbar {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* Fin de personalizacion para mi navegador */

/* Contenedor del formulario */
.contenedor-formulario {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    width: 500px; 
    margin: 25px auto 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-formulario {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ddd;
}

.opciones {
    display: flex;
    align-items: left; /* no se como hacer para que se pongan en la izquierda */
    gap: 15px;
    margin-bottom: 10px;
}
/* Fin de personalizacion del formulario */

/* Inicio de la personalizacion de la pagina image */
.contenedor-images {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    max-width: 850px;
    margin: 20px auto;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px 0 30px 0;
}

button {
    width: 125px;
    padding: 8px;
    margin: 0px 0 20px 0;
    border: 1px solid #888;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
    font-weight: bold;
}


h2 {
    color: blue;
}

/* Personalizaciones pagina personalizer */

.margen {
    margin-left: 40px;
}

/* Modo oscuro */

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode a {
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1e1e1e;
}

.dark-mode #personalizerMenu {
    background-color: #333;
    color: white;
}